.header{
    background-color: #fff;
    background-image: url(../images/background_header.svg);
     padding: 30px 80px 40px;
    position: relative;
    height: 800px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__image{
    height: 568px;
    width: 646px;
    position: absolute;
    top: 124px;
    right: 5px;
}

.header__title{
   max-width: 729px;
  margin: 183px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent{
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #3F96F3;
  display: block;
}

.header__description{
   max-width: 683px;
   margin: 28px 0 0;
   font-family: "Noto Serif", "Times New Roman", serif;
   line-height: 30px;
}

.header__footer{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__paragraph{
margin-top: 0;
margin-bottom: 0;
font-family: "Inter", Arial, sans-serif;
font-weight: 500;
color: #6f6f6f;
}